[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Bind Caps to Esc (xcape)
Comment=
Exec=xcape -e Caps_Lock=Escape
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

